workspace.json
Obsidian Vault
clipenv
build
dis
venv
*_internal
*.exe
*.jpg
*.zip
1k-unsplash

copied_images
pixiv_illustration_dataset
selection_images
unsplash_illustration_dataset
illustration_dataset