workspace.json
Obsidian Vault
clipenv
build
dis
venv
*_internal
*.exe
*.zip
1k-unsplash
*.jpg
1k*
importaes*
copied_images
pixiv_illustration_dataset
selection_images
unsplash_illustration_dataset
illustration_dataset